<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- based on scope type of bean it created object of the class
    Singleton, Prototype mostly we used in rest
    Request and Session mostly we used in soap
    Singleton -> when u want only same object whenever u ask for object
    Prototype -> it will create new object everytime when we say getBean().
    <bean id="alien" class="org.aditya.Alien" scope="singleton"/>
    if we assigning a primitive value then we use value property
    but if we assigning a reference then we use ref keyword
    <property name="age" value= "32" />
    -->
    <bean id="alien" class="org.aditya.Alien">
<!--        <constructor-arg value="43" type="int"/>-->
<!--        <constructor-arg ref="lap" type="org.aditya.Laptop"/>-->
<!--        <property name="laptop" ref="lap" />-->
<!--        <constructor-arg value="43" index="0"/>-->
<!--        <constructor-arg ref="lap" index="1"/>-->
            <constructor-arg value="43" name="age"/>
            <constructor-arg ref="lap" name="laptop"/>
    </bean>
    <bean id="lap" class="org.aditya.Laptop">

    </bean>
</beans>
